*{
	font-family: Arial;
	margin:1px;
	padding:0;
	border:0;
}

.container{ display: flex; }
.horizontal{ flex-direction: row; }
.vertical{ flex-direction: column; }

body{
	background: hsla(202, 70%, 85%, 1);
}

#outerContainer{
	margin: 10px 10px;
	display: inline-block;
}

#filterContainer{
	width: 250px;
	height: 400px;
	background: hsla(202, 70%, 80%, 1);
	border-radius: 10px;
}

#mapContainer{
	position: relative;
	width: 950px;
	height: 400px;
	background: hsla(202, 70%, 80%, 1);
	border-radius: 10px;
}

#barContainer{
	width: 400px;
	height: 300px;
	background: hsla(202, 70%, 80%, 1);
	border-radius: 10px;
}

#scatterContainer{
	width: 800px;
	height: 300px;
	background: hsla(202, 70%, 80%, 1);
	border-radius: 10px;
}

/*Css for the scatter plot */
.scatter-column {
	height: 20px;
	width: 125px;
	display: inline-block;
}

.scatter-column p {
	text-align: center;
}

#scale {
	height: 20px;
	width: 800px;
}

#axis, #axis0 {
	width: 125px;
	height: 20px;
	display: inline-block;
	padding-left: 2px;
	color: gray;
}

.scatter-plot {
	width: 800px;
	height: 260px;
	overflow-y: scroll;
}

.scatter-plot div {
	height: 25px;
	width: 100%;
}

.scatter-plot svg {
	height: 25px;
	width: 127px;
	display: inline-block;
	padding-left: 5px;
}
/* End of css for the scatter plot */

h1{
	margin: 10px 10px;
	font-size: 20px;
	font-weight: normal;
}

h2{
	margin: 10px 10px;
	font-size: 18px;
	font-weight: normal;
}

p{
	margin: 5px 10px;
	font-size: 14px;
	color: gray;
}
