:root {
	--selected-radius: 4px;
	--selected-border-width: 1px;
}

#map{
	background: hsla(202, 70%, 80%, 1);
	border-radius: 10px;
}

#mapIndexSelector{
	position: absolute;
	margin: 0;
	top: 10px;
	left: 10px;
	width: 200px;
	padding: 2.2px;
	border-radius: 5px;
}

#clearSelectionButton{
	position: absolute;
	top: 9px;
	left: 220px;
	background: white;
	padding: 3px;
	border-radius: 5px;
}

#clearSelectionButton:hover{
	background: lightgray;
}

#mapColorLegend{
	position: absolute;
	top: 10px;
	right: 10px;
}

.sphere {
	fill:hsla(202, 70%, 80%, 1);
}

.land {
	fill: hsla(74, 69%, 87%, 1);
}

.boundary {
	fill: none;
	stroke: hsla(57, 0%, 80%, 1);
	stroke-linejoin: round;
	stroke-linecap: round;
	vector-effect: non-scaling-stroke;
}

select{
	margin: 20px;
}

.mouseover.city-circle{
	stroke: grey;
	stroke-width: var(--selected-border-width);
	r: var(--selected-radius);
}

.selected.city-circle{
	stroke: black;
	stroke-width: var(--selected-border-width);
	r: var(--selected-radius);
}
