
.axis-label{
	fill: black;
}


/* SCROLL */


#scatterCitiesContainer{
	height: 245px;
	overflow-y: auto;
}

#scatterCitiesContainer::-webkit-scrollbar-track
{
	background-color: hsla(202, 70%, 80%, 1);
}

#scatterCitiesContainer::-webkit-scrollbar
{
	width: 5px;
	background-color: gray;
}

#scatterCitiesContainer::-webkit-scrollbar-thumb
{
	background-color: gray;
}
