/* GENERAL */

*{
	font-family: Arial;
	margin:0;
	padding:0;
	border:0;
}

.container{ display: flex; }
.horizontal{ flex-direction: row; }
.vertical{ flex-direction: column; }

#outerContainer{
	margin: 10px 10px;
	display: inline-block;
	border: solid 1px black;
	background: hsla(202, 70%, 80%, 1);

}

#filterContainer{
	width: 250px;
	height: 400px;

	border: solid 1px black;
}

#mapContainer{
	position: relative;
	width: 950px;
	height: 400px;

	border: solid 1px black;
}

#barContainer{
	width: 400px;
	height: 300px;

	border: solid 1px black;
}

#scatterContainer{
	width: 800px;
	height: 300px;

	border: solid 1px black;
}



/* MAP */

#map{
	background: hsla(202, 70%, 80%, 1);
	border: solid 1px black;
}

#indexSelector{
	position: absolute;
	margin: 0;
	top: 10px;
	left: 10px;
	border-radius: 5px;
}

.sphere {
	fill:hsla(202, 70%, 80%, 1);
}

.land {
	fill: hsla(74, 69%, 87%, 1);
}

.boundary {
	fill: none;
	stroke: hsla(57, 0%, 80%, 1);
	stroke-linejoin: round;
	stroke-linecap: round;
	vector-effect: non-scaling-stroke;
}

select{
	margin: 20px;
}

.mouseover.city-circle{
	stroke: grey;
	stroke-width: 0.5;
	r: 2;
}

.selected.city-circle{
	stroke: black;
	stroke-width: 1;
	r: 3;
}
